.fundido-final {
  position: relative;
  margin-top: 20px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.contenedor-principal {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
