ul{
  margin: 0;
 list-style: none;
 align-items: center;
 justify-content: center;

}

li{
  margin : 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  width: 300px;
}

span{
  flex-grow: 1; /* Hace que el texto ocupe todo el espacio restante disponible */
  text-align: center;
}

li img{
  margin-right: 20px;
}

.play{
  margin-left: 20px;
}
