<ul>

  <li>
    <a href="http://localhost:4200/One Piece">
      <img src="./assets/img/onepiece.jpg" alt="Logo" width="80" height="90" >
      <span>One Piece</span>
      <img class="play" src="./assets/img/flecha.png" alt="Play" width="30" height="30">
    </a>
  </li>
  <li>
    <a href="http://localhost:4200/Jujutsu Kaisen">
      <img src="./assets/img/jujutsukaisen.jpg" alt="Logo" width="80" height="90" >
      <span>Jujutsu Kaisen</span>
      <img class="play" src="./assets/img/flecha.png" alt="Play" width="30" height="30">
    </a>
  </li>
  <li>
    <a href="http://localhost:4200/Kimetsu no Yaiba">
      <img src="./assets/img/kimetsunoyaiba.jpg" alt="Logo" width="80" height="90" >
      <span>Kimetsu no Yaiba</span>
      <img class="play" src="./assets/img/flecha.png" alt="Play" width="30" height="30">
    </a>
  </li>
  <li>
    <a href="http://localhost:4200/Haikyuu!!">
      <img src="./assets/img/haikyuu.jpg" alt="Logo" width="80" height="90" >
      <span>Haikyuu!!</span>
      <img class="play" src="./assets/img/flecha.png" alt="Play" width="30" height="30">
    </a>
  </li>
  <li>
    <a href="http://localhost:4200/Death Note">
      <img src="./assets/img/deathnote.jpg" alt="Logo" width="80" height="90" >
      <span>Death Note</span>
      <img class="play" src="./assets/img/flecha.png" alt="Play" width="30" height="30">
    </a>
  </li>

</ul>
