ul{
  margin: 0;
  padding: 0;
 list-style: none;
 align-items: center;
 justify-content:center;

}
li:hover{
  transform: scale(1.1);
}
a{
  text-decoration: none;
  color: coral;
  display: flex;
  align-items: center;
}
a:hover{
  color: white;
}
li{
  margin : 5px;
  padding: 10px;
  align-items: center;
  width: 300px;
  transition: transform 0.2s ease;
}

span{
  flex-grow: 1; /* Hace que el texto ocupe todo el espacio restante disponible */
  text-align: center;
}

li img{
  margin-right: 20px;
}

.play{
  margin-left: 20px;
}

