<ul>
  <li> <img src="./assets/img/LogoB.ico" alt="Logo" width="70" height="70" > <span>One Piece</span> <img class="play" src="./assets/img/flecha.png" alt="Play" width="30" height="30"></li>
  <li> <img src="./assets/img/LogoB.ico" alt="Logo" width="70" height="70" > <span>Jujutsu Kaisen</span> <img class="play" src="./assets/img/flecha.png" alt="Play" width="30" height="30"></li>
  <li> <img src="./assets/img/LogoB.ico" alt="Logo" width="70" height="70" > <span>Blue Lock</span> <img class="play" src="./assets/img/flecha.png" alt="Play" width="30" height="30"></li>
  <li> <img src="./assets/img/LogoB.ico" alt="Logo" width="70" height="70" > <span>Shingeki no Kyogin</span> <img class="play" src="./assets/img/flecha.png" alt="Play" width="30" height="30"></li>
  <li> <img src="./assets/img/LogoB.ico" alt="Logo" width="70" height="70" > <span>Death Note</span> <img class="play" src="./assets/img/flecha.png" alt="Play" width="30" height="30"></li>
</ul>
