<section id="details">
  <div id="logo">
      <img src="./assets/img/logo.jpg" alt="logo">
      <p><a href="https://www.instagram.com/didacestradaa/"> Presidente: Didac Estrada</a></p>
      <p><a href="https://www.instagram.com/adrizu21/">Vicepresidente: Adrian Zapater</a></p>
  </div>

  <div id="info">
      <h2>OtaBook</h2>
      <h5>Sobre nosotros:</h5>
      <p>¡Buenas! ¡Somos Didad y Adrian, fundadores de OtaBook! Estamos apasionados por brindar experiencias cautivadoras a los amantes del manga. Nos dedicamos a la publicación de emocionantes historias que transportan a los lectores a mundos fascinantes y les permiten explorar la riqueza de la narrativa visual japonesa. Con un compromiso inquebrantable con la calidad y la diversidad de géneros, ofrecemos un amplio catálogo de mangas que abarca desde la acción y la comedia hasta el drama y el misterio. Nuestra misión es nutrir la creatividad, la imaginación y la conexión emocional a través de la magia de cada página. ¡Únete a nosotros en este viaje extraordinario a través del arte del manga!</p>
      <p>Correo: otabook&#64;gmail.com</p>
    </div>
</section>
