div{
display: flex;
height: 70px;
width: 100%;
justify-content: space-between;
background-color: var(--color-base);
align-items: center;
}

div app-logo{
  margin-left: 50px;
}

div app-navcapsalera{
  margin-right: 50px;
}


