div{
  border-radius: 5px;
  margin-top: 35px;
  background-color: var(--color-base);
  height: 600px;
  width: 350px;
  padding: 20px;
  margin-left: 50px;
}

h2{
  margin: 0px;
  text-align: left;
  color: coral;
  margin-left: 5px;
}

