.mangas-caja {
  padding: 20px;
  border-radius: 5px;
  margin-top: 35px;
  background-color: var(--color-base);
  padding: 20px;
  margin-right: 50px;
  margin-left: 50px;
  width: 600px;
  height: 600px;
}

h2{
  margin: 0px;
  text-align: left;
  color: coral;
  margin-bottom: 20px;
}

.mangas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  position: relative;
}

.texto {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.837);
  padding: 5px;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.manga:hover .texto {
  opacity: 1;
}
