<div class="texto">
  <h2>¡Novedad!</h2><h1><a href="http://localhost:4200/Shingeki no Kyojin">Shingeki no Kyojin</a></h1>
  <p>La historia nos traslada a un mundo en el que la humanidad estuvo a punto de ser exterminada cientos de años atrás por los gigantes. Los gigantes son enormes, parecen no ser inteligentes y devoran seres humanos. Lo peor es que parece que lo hacen por placer y no por alimentarse. Una pequeña parte de la humanidad ha conseguido sobrevivir protegiéndose en una ciudad con unos altísimos muros, más altos que el mayor de los gigantes.</p>
</div>
