<nav>
  <ul>
    <li *ngFor="let genero of generos">
      <a [href]="'http://localhost:4200/listar/Mangas/'+genero" (click)="cambiarGenero($event, genero)">{{ genero }}</a>
    </li>
  </ul>
</nav>

<div class="mangas-caja">
  <div class="mangas">
    <div class="manga" *ngFor="let manga of ultimosMangas">
      <a [href]="'http://localhost:4200/'+ manga.titol">
        <img [src]="'./assets/img/' + manga.foto" alt="Logo">
        <div class="texto">{{ manga.titol }}</div>
      </a>
    </div>
  </div>
</div>

