/* You can add global styles to this file, and also import other style files */
*{font-family: sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background-image: url('assets/img/fondo.jpg');
  background-size: cover;
  background-attachment: fixed;
}

:root{
  --color-base: rgb(24, 24, 24);
}

