<div class="mangas">
  <div class="manga">
    <img src="./assets/img/deathnote.jpg">
    <div class="texto">Death Note</div>
  </div>
  <div class="manga">
    <img src="./assets/img/deathnote.jpg">
    <div class="texto">Death Note</div>
  </div>
  <div class="manga">
    <img src="./assets/img/deathnote.jpg">
    <div class="texto">Death Note</div>
  </div>
  <div class="manga">
    <img src="./assets/img/deathnote.jpg">
    <div class="texto">Death Note</div>
  </div>
  <div class="manga">
    <img src="./assets/img/deathnote.jpg">
    <div class="texto">Death Note</div>
  </div>
  <div class="manga">
    <img src="./assets/img/deathnote.jpg">
    <div class="texto">Death Note</div>
  </div>
  <div class="manga">
    <img src="./assets/img/deathnote.jpg">
    <div class="texto">Death Note</div>
  </div>
  <div class="manga">
    <img src="./assets/img/deathnote.jpg">
    <div class="texto">Death Note</div>
  </div>
</div>
